@import "tailwindcss";

@theme {
  --color-primary: #952915;
  --color-primary-container: #e5c494;
  --color-background: #eaeaea;
  --color-surface: #eaeaea;      /* instead of white */
  --color-surface-dim: #eaeaea;
  --color-on-primary: #ffffff;
  --color-on-background: #1a1c1c;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #4d4639;
  --color-outline: #7e7667;
  --color-outline-variant: #d0c5b4;
  --color-secondary: #5d5f5f;
  --color-secondary-container: #dcdddd;
  --color-on-secondary: #ffffff;
  --color-tertiary: #5f5e5e;
  --color-tertiary-container: #a5a3a3;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-inverse-surface: #2f3131;
  --color-inverse-on-surface: #f0f1f1;

  --font-family-sans: "Manrope", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}